@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Would you like to speak with us?</h3>


<address>
    Michelle Brito<br />
    Campo Bom, Rio Grande do Sul - Brasil<br />
</address>

<address>
    <strong>Support:</strong> michellebrito@sou.faccat.br<br />
    <strong>Repositorie:</strong> <a href="https://github.com/michellebritoo/webProjectCSharp">GitHub Repositorie</a>
    </br> </br> </br>
    <a href="https://www.instagram.com/michebritoo/">
        <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png" width="35px" alt="Instagram" title="Instagram profile"/>
    </a>
    <a href="https://github.com/michellebritoo">
        <img src="https://image.flaticon.com/icons/png/512/25/25231.png" width="30px" alt="Instagram" title="GitHub profile" />
    </a>
        <a href="https://www.linkedin.com/in/michellebrito01/">
        <img src="https://image.flaticon.com/icons/png/512/61/61109.png" width="30px" alt="Instagram" title="Linkedin profile"/>
    </a>

</address>
